@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-VariableFont_wght.ttf");
}

html,
body {
  height: 100%;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body p,
span,
a {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

body span {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  margin: 10px;
}

body strong {
  color: white;
}

main {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
}

.equilibirum {
  position: relative;
}

.equilibirum img {
  width: 300px;
  border-radius: 10px;
}

.viewequilibrium {
  width: 300px;
  height: 300px;
  background-color: hsla(178, 100%, 50%, 0.411);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  display: none;
}

.viewequilibrium img {
  width: 30px;
}

.caca:hover .viewequilibrium {
  display: flex;
}

.texte h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  margin: 20px 0 20px 0;
}

.texte h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.texte p {
  width: 270px;
  margin: 10px 0 10px 0;
}

.informations {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.inf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity span {
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.credits {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid hsla(215, 52%, 70%, 0.394);
}

.credits img {
  width: 30px;
  border: solid 1px white;
  border-radius: 50%;
}

.credits p {
  margin: 15px;
}

.credits strong:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.attribution {
  margin: 20px;
  font-size: 13px;
  text-align: center;
  color: white;
}
.attribution a {
  text-decoration: none;
  color: hsl(319, 100%, 51%);
}
